*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #292E2F;
    --tertiary-color: #C20727;
    --quaternary-color: #525c5e;
    --quinary-color: #f7eff1;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
    color: black;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Utility */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1600px;
    margin: 0 auto;
}

.btn_red {
    display: inline-block;
    font-size: 13px;
    width: 190px;
    text-decoration: none;
    color: #fff;
    padding: 0.85rem 2rem;
    background: var(--tertiary-color);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3s ease;
    text-align: center;

    &:hover {
    background-color: #292E2F;
    }
}

.btn_white {
    display: inline-block;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 13px;
    width: 160px;
    padding: 0.75rem 2rem;
    background: var(--quinary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-align: center;
    
    &:hover {
    background-color: var(--quaternary-color);
    border: 2px solid transparent;
    color: var(--primary-color);
    font-weight: 600;
    }
}    


/* Navbar */

/* Desktop Menu */

.navbar {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
    background-color: var(--quinary-color);
    backdrop-filter: blur(10px);
  }

.navbar__logo {
    width: 60px;
    height: 50px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__main-menu-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
}

.navbar__menu-link {
    color: var(--secondary-color);
    opacity: 0.9;
    font-size: 0.9rem;
}

.navbar__menu-link--primary {
    margin-left: 5rem;
}


.navbar__menu-link:hover {
    color: var(--quaternary-color);
    opacity: 0.8;
}


/* Mobile Menu */

@media(max-width: 992px) {
    .navbar__mobile-menu-items {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        text-align: center;
        padding: 2rem 1rem;
        transition: transform 0.5s ease;
        transform: translateY(-170%);   
    }
    
    .navbar__mobile-menu-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        font-size: 1rem;
    }
}


@media(max-width: 768px) {

.navbar__mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    text-align: center;
    /* opacity: 0.95; */
    padding: 3rem 2rem;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    transition: transform 0.5s ease;
    transform: translateY(-150%);   
}

.navbar__mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    /* padding-top: 150px; */
    gap: 1rem;
    font-size: 1.2rem;
}

}

.navbar__mobile-menu-link {
    color: var(--secondary-color);
    opacity: 0.9;
    font-size: 0.9rem;
}

.navbar__mobile-menu-toggle{
    cursor: pointer;
}

.navbar__mobile-menu-items.active {
    transform: translateY(0);
}

.navbar__mobile-menu {
    display: none;
}

.navbar__mobile-menu-link:hover {
    color: var(--quaternary-color);
}

/* Hero */

.hero {
    margin: 5rem auto 2rem;
    padding: 5rem 3rem 2rem;
    text-align: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero__title {
    font-size: 1.4rem;
    font-weight: 700;
    max-width: 600px;
}

.hero__text {
    font-size: 0.9rem;
    color: var(--quaternary-color);
    max-width: 600px;
}

.hero__buttons {
    display: flex;
    gap: 2.5rem;
}

.hero__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: var(--primary-color);
    margin: 6rem auto 0;
    border-radius: 20px;
    padding: 2rem;
    max-width: 650px;
}

.hero__stats-item i {
    color: lightblue;
    margin-bottom: 1rem;
}

.hero__stats-item-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero__stats-item-description {
    font-size: 0.9rem;
    opacity: 0.6;
}

/* Device Care Section */

.device__care {
    background-color: var(--quinary-color);
    border-top: 1px solid #d7d7d9;
    border-bottom: 1px solid #d7d7d9;
    padding: 2rem 4rem;
}

.device__care-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.device__care-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.device__care-content-item-image {
    width: 60px;
}

.device__care-content-item-title {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

/* Services */

.services {
    padding: 6rem 2rem 3rem;
    border-bottom: 1px solid #d7d7d9;
}

.services__icon {
    width: 70px;
    background-color: #f3e7e9;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.services__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4rem;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.services__card {
    background-color: var(--quinary-color);
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services__header {
    font-size: 1.2rem;
    font-weight: 600;
}

.services__description {
    font-size: 0.8rem;
    opacity: 0.6;
}

.services__button {
    margin-top: 1rem;
}

/* Process */

.process {
    padding: 6rem 2rem 3rem;
    text-align: center;
}

.process__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.process__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.process__text {
    font-size: 0.9rem;
    opacity: 0.6;
    max-width: 1000px;
    margin-bottom: 3rem;
}

.process_image-img {
    border: none;
    border-radius: 10px;
}

.process__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0rem 4rem;
    gap: 4rem;
}

.process__step {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.process__step-heading {
    font-weight: 600;
}

.process__step-heading--number {
    margin-left: 0.2rem;
    font-size: 2rem;
    color: var(--tertiary-color);
}

.process__step-description {
    font-size: 0.9rem;
    opacity: 0.8;
}

/* About */

.about {
    padding: 4rem 2rem 3rem;
    text-align: center;
}

.about__heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.about__heading-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.about__heading-description {
    font-size: 0.9rem;
    opacity: 0.6;
}

.about__map {
    /* overflow: hidden; */
    position: relative;
    /* height: 0; */
    margin-bottom: 3rem;
    padding-bottom: 50%;
}

.about__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin-top: 2rem;
    border-radius: 10px;
}

/* Testimonials */

.testimonials {
    padding: 4rem 2rem 3rem;
}

.testimonials__heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

.testimonials__heading-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.testimonials__heading-description {
    font-size: 0.9rem;
    opacity: 0.6;
}

.testimonials__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.testimonials__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f3f3f2;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
}

.testimonials__card:nth-of-type(1) .testimonials__testimonial {
    margin-bottom: 1.6rem;
}

.testimonials__card:nth-of-type(2) .testimonials__testimonial {
    margin-bottom: 1.6rem;
}

.testimonials__stars {
    color: #ffbc0d;
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
}

.testimonials__testimonial {
    font-weight: 500;
    font-size: 1.060rem;
}

.testimonials__individual {
    display: flex;
    gap: 1rem;
}

.testimonials__individual-flex {
    display: flex;
    flex-direction: column;
}

.testimonials__image {
    max-width: 50px;
}

.testimonials__name {
    font-weight: 600;
}

.testimonials__job-title {
    font-size: 0.9rem;
    opacity: 0.6;
}

/* Contact Section */

.contact {
    padding: 4rem 2rem 4rem;
}

.contact__heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 1150px;
}

.contact__heading-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact__heading-description {
    font-size: 0.9rem;
    opacity: 0.6;
}

.contact__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}

.contact__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 4rem 0;
}

.contact__section:nth-of-type(2) {
    max-width: 350px;
    margin-top: 1rem;
}

.contact__icon-wrapper {
    position: relative;
}

.contact_icon-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
    z-index: 2;
    background: #cba8c0;
    height: 3.375rem;
    width: 3.375rem;
    border-radius: 50%;
    display: block;
}

.contact_icon-circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-74%);
    z-index: 1;
    background: #dfcad9;
    height: 4.575rem;
    width: 4.575rem;
    border-radius: 50%;
    display: block;
}

.contact__icon-wrapper i {
    position: relative;
    display: block;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.contact__icon {
    color: var(--tertiary-color);
}

.contact__info {
    max-width: 300px;
}

.contact__info-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.contact__info-description {
    font-size: 1rem;
    opacity: 0.6;
    margin-bottom: 1rem;
}

.contact__info-primary {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--tertiary-color);
}

/* Footer */

.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 6rem 2rem 4rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: start;
    justify-content: space-between;
    gap: 2rem;
}

.footer__links:nth-of-type(1) {
    max-width: 100px;
}

.footer__links:nth-of-type(2) {
    max-width: 400px;
}

.footer__links:nth-of-type(3) .footer__links-item:nth-of-type(2) {
    max-width: 400px;
}

.footer__links:nth-of-type(3) .footer__links-item:nth-of-type(1) {
    max-width: 200px;
}

.footer__links:nth-of-type(4) {
    max-width: 400px;
}

.footer__links:nth-of-type(5) {
    max-width: 400px;
}

.footer__header {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__links:nth-of-type(3) .footer__links-list {
    gap: 2rem;
}

.footer__links:nth-of-type(4) .footer__links-list {
    gap: 2rem;
}

.footer__links-item {
    font-size: 0.9rem;
}


.footer__links-link {
    text-decoration: none;
    color: var(--primary-color);
}

.footer__links-link:hover {
    color: var(--tertiary-color);
}

.footer__newsletter {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.footer__newsletter form {
    display: flex;
    align-items: center;
}

.footer__newsletter form input[type='email'] {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
  }

.footer__newsletter-button {
    padding: 1rem;
    background-color: black;
    color: var(--primary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

.footer__newsletter-button:hover {
    background-color: var(--quaternary-color);
  }

.footer__second-section {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2rem;
    border-top: 1px solid var(--primary-color);
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.5rem;
}

.footer__social-link {
    color: black;
}

.footer__social-item {
    position: relative;
}

.footer-social__icon-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    background: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: block;
}

.footer__social-item i {
    position: relative;
    display: block;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

/* Contact Page */

.contact__hero {
    margin: 5rem auto 2rem;
    padding: 5rem 3rem 2rem;
    text-align: center;
}

.contact__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact__hero-title {
    font-size: 1.4rem;
    font-weight: 700;
    max-width: 600px;
}

.contact__hero-text {
    font-size: 0.9rem;
    color: var(--quaternary-color);
    max-width: 920px;
}

.contact__hero-image {
    max-width: 500px;
}

/* Store Locations */

.store__locations {
    padding: 3rem 3rem 4rem;
    background-color: #cccccc;
    border-top: 1px solid #b7b7b7;
}

.store__locations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    gap: 2rem;
}

.store__locations-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2rem 4rem;
    max-width: 350px;
}

.store__locations-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.store__locations-button {
    margin: 0 auto;
}

.store__locations-card:nth-of-type(2) .store__locations-button {
    margin-top: 1rem;
}

.store__locations-card:nth-of-type(3) .store__locations-button {
    margin-top: 1rem;
}

.store__locations-btn {
    background-color: var(--primary-color);
}

.store__locations-btn:hover {
    border: 2px solid var(--tertiary-color);
}

.store__locations-card-header {
    font-size: 1.1rem;
    font-weight: 600;
}

.store__locations-card-description {
    font-size: 0.8rem;
    opacity: 0.7;
}

.store__locations-card:nth-of-type(1) .store__locations-card-description {
    max-width: 200px;
}

.store__locations-card:nth-of-type(2) .store__locations-card-description {
    max-width: 200px;
}

.store__locations-card-link {
    color: var(--tertiary-color);
    text-decoration: underline;
    font-weight: 500;
}

/* Contact Us Form */

.contact__form {
    padding: 6rem 4rem 2rem;
}

.contact__form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    gap: 1rem;
}

.contact__form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

.contact__form-header {
    color: var(--tertiary-color);
    font-weight: 600;
}

.contact__form-title {
    font-size: 2rem;
    font-weight: 600;
}

.contact__form-text {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0.6;
}


.contact__form form input {
    position: relative;
    display: block;
    font-family: inherit;
    font-size: medium;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 10px;
    outline-color: #cea9ca;
    z-index: 2;
}


.contact__form form label {
    font-weight: 500;
    font-size: 0.9rem;
}

.contact__form .contact__form-message {
    display: block;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: medium;
    margin: 1rem 0;
    outline-color: #cea9ca;
}

.contact__form form button {
    width: 100%;
    display: block;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

/* Products Page */

/* Hero */

.products__hero {
    padding: 6rem 4rem 2rem;
}

.products__hero-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem 0rem;
}

.products__hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.products__hero-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.products__hero-description {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.7;
}

.products__hero-img {
    max-width: 300px;
}

/* Mobile Cases */

.mobile__cases {
    padding: 2rem 4rem;
}

.mobile__cases-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.mobile__cases-grid {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 1rem;
    justify-content: center;
}

/* Screen Protectors */

.screen__protectors {
    padding: 6rem 4rem;
}

.screen__protectors-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.screen__protectors-grid {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 1rem;
    justify-content: center;
}

/* Camera Lens */

.camera__lens {
    padding: 0rem 4rem 2rem;
}

.camera__lens-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.camera__lens-grid {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 1rem;
    padding-left: 5rem;
}

/* Chargers & Cables */

.chargers__cables {
    padding: 4rem 2rem;
}

.chargers__cables-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.chargers__cables-grid {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 1rem;
    justify-content: center;
}

/* Services Page */

/* Hero */

.services__hero {
    padding: 6rem 4rem 2rem;
    background-color: var(--primary-color);
}

.services__hero-flex {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
}

.services__hero-content {
    display: flex;
    flex-direction: column;
}

.services__hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services__hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.services__hero-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.services__hero-description {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.7;
}

.services__hero-button {
    display: inline-block;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 13px;
    width: 160px;
    padding: 0.75rem 1rem;
    background: transparent;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-align: center;
    
    &:hover {
    background-color: var(--quaternary-color);
    border: 2px solid transparent;
    color: var(--primary-color);
    font-weight: 600;
    }

}

.services__hero-img {
    max-width: 350px;
}

/* Mobile Repair */

.mobile__repair {
    border-top: 1px solid #d7d7d9;
    padding: 2rem 4rem 2rem;
}


.mobile__repair-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.mobile__repair-title {
    font-size: 1.4rem;
}

.mobile__repair-text {
    font-size: 0.9rem;
    opacity: 0.8;
}

.mobile__repair-grid {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.mobile__repair-item {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
}

.mobile__repair-item:nth-of-type(3) {
    height: 480px;
}

.mobile__repair-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
}

.mobile__repair-item-description {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-bottom: 2rem;
}


.mobile__repair-item-link {
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
}

.mobile__repair-item-link:hover {
    margin-right: 0.5rem;
}

.mobile__repair-item i {
    color: var(--tertiary-color);
    margin-left: 0.7rem;
    transition: all 0.2s ease-in-out;
}

.mobile__repair-item i:hover {
    margin-left: 1.2rem;
}

.mobile__repair-item-image {
    max-width: 240px;
}

/* Laptop Repair */

.laptop__repair {
    padding: 6rem 4rem 2rem;
}

.laptop__repair-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.laptop__repair-title {
    font-size: 1.4rem;
}

.laptop__repair-text {
    font-size: 0.9rem;
    opacity: 0.8;
}

.laptop__repair-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.laptop__repair-item {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
}

.laptop__repair-item:nth-of-type(2) .laptop__repair-item-description {
    margin-bottom: 6.8rem;
}

.laptop__repair-item:nth-of-type(3) .laptop__repair-item-description {
    margin-bottom: 5.5rem;
}

.laptop__repair-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
}

.laptop__repair-item-description {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-bottom: 2rem;
}


.laptop__repair-item-link {
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
}

.laptop__repair-item-link:hover {
    margin-right: 0.5rem;
}

.laptop__repair-item i {
    color: var(--tertiary-color);
    margin-left: 0.7rem;
    transition: all 0.2s ease-in-out;
}

.laptop__repair-item i:hover {
    margin-left: 1.2rem;
}

.laptop__repair-item-image {
    max-width: 100%;
}

/* Computer Repair */

.computer__repair {
    padding: 6rem 4rem 2rem;
}

.computer__repair-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.computer__repair-title {
    font-size: 1.4rem;
}

.computer__repair-text {
    font-size: 0.9rem;
    opacity: 0.8;
}

.computer__repair-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.computer__repair-item {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
}

.computer__repair-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
}

.computer__repair-item-description {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-bottom: 2rem;
}

.computer__repair-item:nth-of-type(2) .computer__repair-item-description {
    margin-bottom: 3rem;
}

.computer__repair-item:nth-of-type(3) .computer__repair-item-description {
    margin-bottom: 3rem;
}

.computer__repair-item-link {
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
}

.computer__repair-item-link:hover {
    margin-right: 0.5rem;
}

.computer__repair-item i {
    color: var(--tertiary-color);
    margin-left: 0.7rem;
    transition: all 0.2s ease-in-out;
}

.computer__repair-item i:hover {
    margin-left: 1.2rem;
}

.computer__repair-item-image {
    max-width: 100%;
}

/* Media Queries */

@media(max-width: 992px) {
    /* Index Page */

    /* Navbar Section */
    
    .navbar__main-menu-items {
        display: none;
    }
    
    .navbar__mobile-menu {
        display: block;
    }

    /* Device care */
    .device__care-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        text-align: center;
    }

    /* Services */
    .services__cards {
        grid-template-columns: 1fr;
    }

    .services__button {
        margin-top: 0rem;
    }

    /* Testimonials */
    .testimonials__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials__card:nth-of-type(1) .testimonials__testimonial {
        margin-bottom: 0rem;
    }
    
    .testimonials__card:nth-of-type(2) .testimonials__testimonial {
        margin-bottom: 0rem;
    }

    /* Contact Us Page */

    /* Store Locations */

    .store__locations-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .store__locations-card:nth-of-type(4) .store__locations-button {
        margin-top: 1rem;
    }

    /* Products Page*/

    /* Hero */
    .products__hero-flex {
        flex-direction: column;
        text-align: center;
    }

    /* Mobile Cases */
    .mobile__cases-grid {
        grid-template-columns: repeat(3, 200px);
    }

    /* Screen Protectors */
    .screen__protectors-grid {
        grid-template-columns: repeat(3, 200px);
    }

    /* Camera Lens */
    .camera__lens-grid {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        padding-left: 0;
    }

    /* Chargers & Cables */
    .chargers__cables-grid {
        grid-template-columns: repeat(3, 200px);
    }

    /* Services Page */

    /* Hero */
    .services__hero-flex {
        flex-direction: column;
    }

    /* Mobile Repair */
    .mobile__repair-grid {
        grid-template-columns: repeat(3, 230px);
        padding: 0 2rem;
    }

    .mobile__repair-item-image {
        max-width: 200px;
    }

    .mobile__repair-item:nth-of-type(3) {
        height: 465px;
    }

    .mobile__repair-item:nth-of-type(3) .mobile__repair-item-description {
        margin-bottom: 0.5rem;
    }

    /* Laptop Repair */
    .laptop__repair-grid {
        grid-template-columns: repeat(3, 200px);
    } 

    .laptop__repair-item-title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    
    .laptop__repair-item-description {
        font-size: 0.8rem;
        opacity: 0.7;
        margin-bottom: 2rem;
    }

    .laptop__repair-item:nth-of-type(2) .laptop__repair-item-description {
        margin-bottom: 8.8rem;
    }

    .laptop__repair-item:nth-of-type(3) .laptop__repair-item-description {
        margin-bottom: 9rem;
    }

    .laptop__repair-item:nth-of-type(3) .laptop__repair-item-title {
        margin-bottom: 1.8rem;
    }

    /* Computer Repair */
    .computer__repair-grid {
        grid-template-columns: repeat(3, 200px);
    } 

    .computer__repair-item-title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    
    .computer__repair-item-description {
        font-size: 0.8rem;
        opacity: 0.7;
        margin-bottom: 2rem;
    }

    .computer__repair-item:nth-of-type(1) .computer__repair-item-title {
        margin-top: 1rem;
        margin-bottom: 1.4rem;
    }

    .computer__repair-item:nth-of-type(1) .computer__repair-item-description {
        margin-bottom: 0.7rem;
    }

    .computer__repair-item:nth-of-type(3) .computer__repair-item-description {
        margin-bottom: 1.5rem;
    }

}

@media(max-width: 768px) {  
    /* Index Page */

    /* Hero */
    .hero__stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        max-width: 700px;
        padding: 2rem 4rem;
    }

    /* Process */
    .process__steps {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 0rem 4rem;
        gap: 4rem;
    }

    /* Testimonials */
    .testimonials__cards {
        grid-template-columns: 1fr;
    }

    .testimonials__individual {
        display: flex;
        flex-direction: column;
    }

    /* Footer */
    .footer__grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items:center;
        justify-content:center;
        gap: 4rem;
    }

    .footer__links {
        text-align: center;
    }

    .footer__links:nth-of-type(3) .footer__links-item:nth-of-type(1) {
        max-width: 500px;
    }

    .footer__links:nth-of-type(3) .footer__links-item:nth-of-type(2) {
        max-width: 500px;
    }

    .footer__newsletter {
        margin-top: 3rem;
    }

    .footer__newsletter-input {
        margin-top: 1rem;
    }

    .footer__newsletter-button {
        margin-top: 1rem;
      }

      .footer__flex {
        flex-direction: column;
        gap: 3rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .footer__social {
        margin-left: 1rem;
    }

    /* Contact Us Page */
    .contact__hero-image {
        max-width: 350px;
    }

    /* Store Locations */

    .store__locations {
        margin: 0 auto;
    }

    .store__locations-grid {
        grid-template-columns: 1fr;   
    }

    .store__locations-card {
        justify-content: center;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .store__locations-card:nth-of-type(1) .store__locations-card-description {
        max-width: 100%;
    }
    
    .store__locations-card:nth-of-type(2) .store__locations-card-description {
        max-width: 100%;
    }

    .store__locations-card:nth-of-type(1) .store__locations-button {
        margin-top: 1rem;
    }

    /* Services Page */

    /* Mobile Cases */
    .mobile__cases-grid {
        grid-template-columns: repeat(2, 200px);
    }

    /* Screen Protectors */
    .screen__protectors-grid {
        grid-template-columns: repeat(2, 200px);
    }

    /* Chargers & Cables */
    .chargers__cables-grid {
        grid-template-columns: repeat(3, 150px);
    }

    /* Mobile Repair */
    .mobile__repair-grid {
        grid-template-columns: minmax(100px, 1fr);
        gap: 3rem;
        text-align: center;
    }

    .mobile__repair-item {
        padding: 3rem;
    }

    .mobile__repair-item-image {
        max-width: 100%;
    }

    .mobile__repair-item:nth-of-type(3) {
        height: 100%;
    }

    .mobile__repair-item:nth-of-type(3) .mobile__repair-item-description {
        margin-bottom: 1.5rem;
    }

    /* Laptop Repair */
    .laptop__repair-grid {
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
    }

    .laptop__repair-item:nth-of-type(2) .laptop__repair-item-description {
        margin-bottom: 2rem;
    }

    .laptop__repair-item:nth-of-type(3) .laptop__repair-item-description {
        margin-bottom: 2rem;
    }

    .laptop__repair-item:nth-of-type(3) .laptop__repair-item-title {
        margin-bottom: 1rem;
    }

    .laptop__repair-item-image {
        width: 100%;
    }

    /* Computer Repair */

    .computer__repair-grid {
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
    }

    .computer__repair-item-image {
        width: 100%;
    }

    .computer__repair-item:nth-of-type(2) .computer__repair-item-description {
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    /* Index Page */

    /* Hero */
    .hero__buttons {
        flex-direction: column;
        gap: 1rem;
    }

    /* Process */
    .process__steps {
        grid-template-columns: 1fr;
        padding: 3rem 0rem 4rem;
        gap: 4rem;
    }

    /* Products Page */

    /* Mobile Cases */
    .mobile__cases-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* Screen Protectors */
    .screen__protectors-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* Camera Lens */
    .camera__lens-grid {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .chargers__cables-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Services Page */
    
    /* Hero */
    .services__buttons {
        flex-direction: column;
        margin-top: 3rem;
    }

    /* Mobile Repair */
    .mobile__repair-grid {
        grid-template-columns: 1fr;
    }

    .mobile__repair-item:nth-of-type(3) {
        height: 100%;
    }

    .mobile__repair-item:nth-of-type(3) .mobile__repair-item-description {
        margin-bottom: 1.5rem;
    }
}